<% if(successMsg && successMsg.length){%>
    <div class="row">
        <div class="alert alert-success col-6 offset-3 alert-dismissible fade show mt-2" role="alert">
            <%= successMsg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <% } %>

    <% if(errorMsg && errorMsg.length){%>
        <div class="row">
            <div class="alert alert-danger col-6 offset-3 alert-dismissible fade show mt-2" role="alert">
                <%= errorMsg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <% } %>
      